
{% extends 'base.html.twig' %}
{% block title %}ram List
{% endblock %}
{% block body %}
	<div class="container-fluid">
	{% if is_granted('ROLE_ADMIN')%}
		<a class="btn btn-primary" href="{{ path ('createRAM') }}">Create New ram</a>
		{% endif %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ram Name</th>
					<th scope="col">GB</th>
					<th scope="col">Functions</th>
				</tr>
			</thead>
			<tbody>
				{% for ram in RAMs %}
					<tr>
						<td scope="row">{{ ram.Name }}</td>
						<td scope="row">{{ ram.Description }}</td>

						<td scope="row">
							<a class="btn btn-info" href="{{ path ( 'detailRAM' , {'id' : ram.id } ) }}">Detail</a>
							{% if is_granted('ROLE_ADMIN')%}
							<a class="btn btn-warning" href="{{ path ( 'updateRAM' , {'id' : ram.id } ) }}">Update</a>
							<a class="btn btn-danger" href="{{ path ( 'deleteRAM' , {'id' : ram.id } ) }}"
                            onclick="return confirm('Are you sure to delete ?')">Delete</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
