

{% extends 'base.html.twig' %}
{% block title %}Size List{% endblock %}
{% block body %}
<div class="container-fluid">
{% if is_granted('ROLE_ADMIN')%}
<a class="btn btn-primary" href="{{ path ('createSize') }}">Create New Size</a>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Size Name</th>
            <th scope="col">Functions</th>
        </tr>
    </thead>
    <tbody>
    {% for size in Sizes %}
        <tr>
            <td scope="row">{{ size.Name }}</td> 
            <td scope="row">{{ size.Description }}</td>        
            <td scope="row"> 
                <a class="btn btn-info" href="{{ path ( 'detailSize' , {'id' : size.id } ) }}">Detail</a>
                {% if is_granted('ROLE_ADMIN')%}
                <a class="btn btn-warning" href="{{ path ( 'updateSize' , {'id' : size.id } ) }}">Update</a>
                <a class="btn btn-danger" href="{{ path ( 'deleteSize' , {'id' : size.id } ) }}"
                                          onclick = "return confirm('Are you sure to delete ?')"
                >Delete</a>
                {% endif %}
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
